*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

a,
button,
input {
    font-family: inherit;
}

label {
    display: block;
}

header {
    width: 300px;
    margin: 0 auto;
}

.heading {
    text-align: center;
}

.source-code {
    text-align: right;
}

/* input form styling */
.input-form {
    display: grid;
    width: fit-content;
    gap: .5rem;
    margin: 1rem;
    width: 200px;
    margin: 0 auto;
}

.lift-simulation-container {
    margin: 1rem;
}

/* lift button styling*/
.button-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: .65rem;
    position: absolute;
    left: 0;
    top: 20%;
}

.button-container button {
    border: none;
    cursor: pointer;
    border-radius: 50%;

}

.button-container button.active {
    background-color: rgb(255, 215, 0);
}



/* floor styling */
.floor-container {
    border-bottom: 2px solid black;
    height: 100px;
    position: relative;
}

.floor-number {
    text-align: right;
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
    border: 1px solid black;
}

/* lift styling */
.lift-container {
    position: relative;
}

.lift {
    position: absolute;
    display: flex;
    /* left: 25%; */
    width: 45px;
    height: 50px;
    background: grey;
    bottom: 0;
    padding: 5px 2px;
    z-index: 10;
    overflow-x: hidden;
    border-radius: .25rem;
}


.lift-door {
    position: relative;
    width: 50%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
}

.left-door {
    left: 0;
}

.right-door {
    right: 0;
}

@keyframes left-door-animate {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes right-door-animate {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.left-door.active {
    animation: left-door-animate 5s linear
}

.right-door.active {
    animation: right-door-animate 5s linear
}